<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Some Weather Web Design & Programming is a small web development outfit based in Weehawken, NJ that is dedicated to providing professional web services that ultimately result in clean, user-friendly interfaces." />
    <meta name="keywords" content="web, design, development, Weehawken, New York City, web design, web development, some weather, html, css, jquery, wordpress, php, mysql" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/images/favicon.ico")" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/script.js")" type="text/javascript"></script>
    @RenderSection("Prerequisites", false)
</head>
<body>
    <div id="wrapper">
        <div id="header">
        	<div id="logo">
        		<a href="/">
					<img src="@Url.Content("~/Content/images/logo.png")" alt="Some Weather Web Design & Programming" />
				</a>
            </div>
			<div id="nav">
				<a href="@Url.Action("Index", "Blog")"><div id="nav_blog"></div></a>
				<a href="@Url.Action("Contact", "Main")"><div id="nav_contact"></div></a>
				<a href="@Url.Action("About", "Main")"><div id="nav_info"></div></a>
				<a href="@Url.Action("Index", "Main")"><div id="nav_portfolio" class="current"></div></a>
				<div class="clear"></div>
            </div>
        </div>
        <div id="content">	
            @RenderBody()
        </div>
        <div class="push"></div>
    </div>
	<div id="footer">
		<div id="left">
			<ul>
				<li class="wBorder">
					<a href="@Url.Action("Index", "Main")">Portfolio</a>
				</li>
				<li class="wBorder">
					<a href="@Url.Action("About", "Main")">Info</a>
				</li>
				<li class="wBorder">
					<a href="@Url.Action("Contact", "Main")">Contact</a>
				</li>
				<li>
					<a href="@Url.Action("Index", "Blog")">Blog</a>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
		<div id="twitter">
			<div id="twitter_updates">
				<div id="gatheringupdates">
					Gathering latest updates<span id="ellipsesTwitter"></span>
				</div>
			</div>
			<div id="twitter_link">
				<a href="http://www.twitter.com/someweather" target="_blank">Follow <span class="sw">@@someweather</span> on Twitter</a>
			</div>
		</div>
		<div id="right">
			<div id="technologies">
				<a href="http://www.wordpress.org" target="_blank">
					<img src="@Url.Content("~/Content/images/wordpress.png")" alt="WordPress" />
				</a>
				<a href="http://www.jquery.com" target="_blank">
					<img src="@Url.Content("~/Content/images/jquery.png")" alt="jQuery" />
				</a>
			</div>
			<div id="copyright">
        		Copyright @DateTime.Now.Year Some Weather Web Design & Programming
        	</div>
        	<div id="admin">
        		<a href="#" title="Login">Login</a>
        	</div>
        </div>
        <div class="clearBoth"></div>
	</div>
	<script type="text/javascript">
	    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	    try {
	        var pageTracker = _gat._getTracker("UA-12566670-2");
	        pageTracker._trackPageview();
	    } catch (err) { }
	</script>
</body>
</html>